@tailwind utilities;
@tailwind base;
@tailwind components;

textarea, * { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark);
  color: var(--light);
}
a, a:visited:hover {
  color: var(--link);
}
a:visited, a:hover {
  color: var(--link-visited);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #5e341e;
  --secondary: #887533;
  --dark: #30241f;
  --medium-dark: #61534b;
  --light: #dddcca;
  --link: #bd5555;
  --link-visited: #853d3d;
}